@import url(bootstrap.css);

body {
   background-image:url('https://f.cloud.github.com/assets/5040647/957049/c097d9a0-0449-11e3-9a8a-75cde1ffd23e.jpg');

}

h1 {
  color:Cyan;
  font-family:"Kunstler Script";
}

p {
   color:MediumTurquoise;
   font-family:"Lucida Calligraphy";
   font-size:20;
}

h3 {
   color:DarkMagenta;
}

.container {
         color:Black;
}

.thumbnail {
           color:Black;
}
